<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <div class="viewsquare">
        <div>
            <h3 class="center">Your adventure begins, {{current_character.name}}! You prepare to depart your humble
                village with nothing but the clothes
                on your back and a small knapsack filled with two day's provisions and the family heirloom: a copper
                broach.
            </h3>
        </div>
        <br><br>
        <div>
            <h1>YOUR INVENTORY</h1>
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Value</th>
                    <th>Actions</th>
                </tr>
                {% for item in current_inventory %}
                <tr>
                    <td>{{item.item}}</td>
                    <td>{{item.price}}</td>
                    <td><a href="/sell/{{item.id}}">SELL</a></td>
                </tr>
                {% endfor %}

            </table>
        </div>
        <br><br>
        <div>
            <h1>RITA'S FINE GOODS</h1>
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
                {% for item in rita %}
                <tr>
                    <td>{{item.item}}</td>
                    <td>{{item.price}}</td>
                    <td><a href="/buy/{{item.id}}">BUY</a></td>
                </tr>
                {% endfor %}
        </div>
    </div>
</body>

</html>