<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>travel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Nanum+Brush+Script&family=Quattrocento&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="viewsquare1">
        <div class="narratebox">
            <h3 class="center narrate">Onward! You've left the familiarity of your home in search of wealth
                 (and maybe some meaning to your life). Since you have only enough provisions to survive a short trip,
                 the next town over may be a good place to start. 
            </h3>
            
        </div>

        <h2 class="center"><a href="/end_session">end session</a></h2>

        
    </div>
</body>

</html>